* {
    font-family: 'IBM Plex Sans', sans-serif;
}

html {
    background-color: var(--jaden-black);
}

body {
    background-color: var(--jaden-black);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.spacer {
    flex-grow: 1;
}

.navbar-main {
    background-color: var(--jaden-blue);
}

.navbar-text {
    color: var(--jaden-black);
}

.nav-item a {
    color: var(--jaden-black);
}

.nav-item:hover a {
    color: var(--jaden-gray);
    /*text-decoration: underline;*/
}

.hover-underline:hover {
    text-decoration: underline;
}

/*for miami logo*/
.nav-item:hover img {
    /* this is --jaden-gray */
    filter: invert(28%) sepia(8%) saturate(770%) hue-rotate(193deg) brightness(96%) contrast(87%);
}
.nav-link:focus {
    outline: 0;
}

.dropdown-header button {
    color: var(--jaden-blue);
}

.dropdown-item {
    color: var(--jaden-black) !important;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: var(--jaden-white);
    color: var(--jaden-gray) !important;
}

.login-button:hover svg {
    color: var(--jaden-gray);
}

.dropdown-menu {
    background-color: var(--jaden-white);
    box-shadow: rgba(0, 0, 0, 0.2) 0 15px 45px;
    color: var(--jaden-black);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.login-form button {
    border: 1px solid var(--jaden-blue);
    color: var(--jaden-black);
}

.login-form button:hover {
    background-color: var(--jaden-blue);
}

.active {
    text-decoration: underline;
}

#logout {
    border: 1px solid var(--jaden-blue);
    color: var(--jaden-black);
}

#logout:hover {
    background-color: var(--jaden-blue);
}

.dropdown-header a {
    color: var(--jaden-blue);
}

.caret-off::before {
    display: none;
}
.caret-off::after {
    display: none;
}

.signup-form button {
    border: 1px solid var(--jaden-blue);
    color: var(--jaden-black);
}

.signup-form button:hover {
    background-color: var(--jaden-blue);
}

.spinner-border {
    color: var(--jaden-blue);
}

main {
    background-color: var(--jaden-white);
    box-shadow: rgba(0, 0, 0, 1) 0 30px 90px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#jaden {
    width: 275px;
    float: left; !important;
}

.text-indent {
    text-indent: 15px;
}

@media screen and (max-width: 768px) {
    #jaden {
        width: 225px;
    }

}

@media screen and (max-width: 575px) {
    #jaden {
        width: 175px;
    }
}

@media screen and (max-width: 475px) {
    #jaden {
        float: none;
    }
}

footer {
    background-color: var(--jaden-white);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 1) 0 30px 90px;
    color: var(--jaden-black);
}

.social-button-link {
    height: 52px;
    width: 52px;
    padding: 10px 12px 12px 11px;
    color: var(--jaden-black);
    border: 3px solid var(--jaden-black);
    outline-color: var(--jaden-black);
}

.social-button-link:hover {
    color: var(--jaden-blue);
}

.text-black {
    color: var(--jaden-black) !important;
}

.text-white {
    color: var(--jaden-white) !important;
}

.documentation-nav {
    background-color: var(--jaden-black);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 10px 40px;
}

.documentation-nav a {
    color: var(--jaden-white);

}

.nav-link:focus, .nav-link:hover, .nav-link:active {
    color: var(--jaden-white) !important;
}

.documentation-nav a:hover, .documentation-nav .active {
    background-color: var(--jaden-blue) !important;
    color: var(--jaden-black) !important;
    text-decoration: underline;
}

.documentation-nav .dropdown-menu {
    background-color: var(--jaden-white) !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0 15px 45px;
}


.text-link {
    color: var(--jaden-black);
}

.text-link:hover {
    color: var(--jaden-blue);
}

#render {
    max-width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#code {
    background-color: rgba(34,40,49, .1);
    padding: 10px;
    border-radius: 10px;
}